@import "./var.scss";

@font-face{
  font-family:'Supercell-Magic_5';
  src:url('~/assets/fonts/Supercell-Magic_5.ttf') format('truetype');  
}

body {
  font-family: 'Supercell-Magic_5';
  font-weight: 400;
}

.text-center {
  text-align: center;
}

// icon
.league-icon {
  width: 24px;
  cursor: pointer;
  vertical-align: -7px!important;
}

.spell-item {
  position: relative;
  display: inline-block;
  .spell-icon {
    width: 35px;
    margin: 2px;
    padding: 0px;
    // border: 1px solid #000;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    &:hover {
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    }
  }

  .spell-level {
    position: absolute;
    bottom: 5px;
    left: 2px;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.8), 0px 0px 2px rgba(0, 0, 0, 1) inset;

    color: #fff;
    font-size: $icon-level-text-size;
    line-height: 15px;
    text-align: center;
    text-shadow: 0px 2px 1px #000;

    &.max-level {
      background-color: rgb(255, 200, 0);
    }
  }
}

.troop-item {
  position: relative;
  display: inline-block;
  .troop-icon {
    width: 35px;
    margin: 2px;
    padding: 0px;
    // border: 1px solid #000;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    &:hover {
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    }
  }

  .troop-level {
    position: absolute;
    bottom: 5px;
    left: 2px;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.8), 0px 0px 2px rgba(0, 0, 0, 1) inset;

    color: #fff;
    font-size: $icon-level-text-size;
    line-height: 15px;
    text-align: center;
    text-shadow: 0px 2px 1px #000;

    &.max-level {
      background-color: rgb(255, 217, 0);
    }
  }
}

.hero-item {
  position: relative;
  display: inline-block;
  .hero-icon {
    width: 35px;
    margin: 2px;
    padding: 0px;
    // border: 1px solid #000;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    &:hover {
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    }
  }

  .hero-level {
    position: absolute;
    bottom: 5px;
    left: 2px;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.8), 0px 0px 2px rgba(0, 0, 0, 1) inset;

    color: #fff;
    font-size: $icon-level-text-size;
    line-height: 15px;
    text-align: center;
    text-shadow: 0px 2px 1px #000;

    &.max-level {
      background-color: rgb(255, 200, 0);
    }
  }
}